
*{
  font-family: 'Segoe UI';
}
:root {
  --main-color: #203536;
  --secondary-color: #FFFC;
  --third-color: #FFFA;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  padding-top: 8vh;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
body .div {
  display: flex;
  gap: 100px;
  flex-direction: column;
}
.nav{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color:var(--main-color);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: 800;
}
.nav a{
  color: var(--secondary-color);
  text-decoration: none;
}
.pop{
  display: flex;
  width: 45vw;
  min-height: 25vh;
  background-color: #121212;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--secondary-color);
  padding: 10px;
  box-shadow: 0px 0px 3px var(--secondary-color);
}
.pop .pop-input input {
  border: none;
  width: 70%;
  height: 40px;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #FFF4;
  background-color: #1a1a1a;
  transition: .3s;
  color: var(--secondary-color);
}
.pop .pop-input input:focus{
  border-color: var(--third-color);
}
.pop .pop-input{
  display: flex;
  width: 100%;
  justify-content: center;
}
.pop-login {
  gap: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.pop span {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.pop-response {
  display: flex;
  align-items: center;
}
.pop-response svg {
   fill: var(--secondary-color);
   height: 30px;
   transition: .2s;
}
.pop-response svg:hover {
  fill: var(--main-color);
  transition: .2s;
  cursor: pointer;
}
.pop-response-copy {
  position: absolute;
  left: 0;
  bottom: -20;
}
.pop-response .copy {
  fill: rgb(0, 196, 0)
}
.pop-response .copy:hover {
  fill: rgb(0, 196, 0)
}
.logout-box {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}
.logout button {
  border-color: var(--third-color);
  transition: .3s;
}
.logout button:hover {
  background-color: #121212;
  transition: .3s;
}
.user-link {
  justify-content: center;
  flex-direction: column;
  
  color: #FFF;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.user-link-pop{
  border-top: 2px solid var(--secondary-color);
  display: flex;
  width:100%;
  padding: 10px;
  gap: 50px;
  justify-content: space-around;
}
.user-link-pop svg {
  height: 30px;
  fill: var(--secondary-color);
  transition: .1s;
  margin:12px;
}
.user-link-pop svg:hover{
  cursor: pointer;
  transition: .1s;
}
.user-link-pop a {
  display: block;
  text-decoration: none;
  color: var(--secondary-color);
  transition: .1s;
}
.user-link-pop a:first-child {
  font-size: 20px;
  color: #34898d
}
.user-link-pop a:hover {
  text-decoration:underline;
  color: var(--secondary-color);
  transition: .1s;
}
.user-link-pop-info {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
}
.user-link-pop-info svg:hover {
  fill: rgb(19, 94, 179);
}
.user-link-pop-info svg:first-child:hover {
  fill: rgb(143, 20, 20);
}

.user-link-pop-links div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-link-pop-links div svg:hover {
  fill: #34898d
}
.edit-pop-container {
  height: 150%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  opacity: .95;
  position: absolute;
  top:0;
  left:0
}
.edit-pop {
  background-color: var(--main-color);
  max-height: 100px;
  padding: 20px;
  width: 45vw;
  position: absolute;
  justify-content: space-between;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 15px;
  align-items: center;
}
.edit-pop span {
  display: block;
  padding: 4px;
  outline: none;
}
.edit-pop button {
  height: 50px;
  border: 2px solid var(--secondary-color)
}


